<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Book Details</title>
	<link rel="stylesheet" type="text/css" media="all" href="../css/mycss.css" th:href="@{/css/mycss.css}" />
</head>

<body>
	<div class="checkout-container">
        <div class="success-message">
            Your order has been placed successfully!
        </div>

        <link rel="stylesheet" type="text/css" media="all" href="../css/mycss.css" th:href="@{/css/mycss.css}" />
        <p>Thank you for shopping with us. We appreciate your business!</p>

        <p><a th:href="@{/secure}">Back to home page</a></p>
    </div>
</body>
</html>
