<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Index</title>
	<link rel="stylesheet" type="text/css" media="all" href="css/mycss.css" th:href="@{/css/mycss.css}" />
</head>

<body class="index">
	<div class="index-container">
		<h1>Welcome to Our Bookstore</h1>
		<p>Discover a world of stories. Find your next favorite book.</p>
		<div class="call-to-action">
			<p>Don't miss out! Join our community of book lovers today.</p>
			<a href="/signup" class="signup-btn">Signup</a>
			<a href="/secure" class="signin-btn">Sign In</a>
		</div>
	</div>
</body>

</html>